In [2]:
import pandas as pd

In [10]:
items = ["item1", "itemm2", "item3", "item4"]

In [17]:
stores = {
    "store1": pd.Series(data = [3000, 6000, 200, 250, 160], index = ["soap", "tomato ketchup", "hypo", "indomie", "yoghurt"]),
    "store2": pd.Series(data = [500, 1500, 2000, 800, 210, 4500, 2500, 1000], index = ["margarine", "roll on", "polish", "milk", "hypo", "olive oil", "soap", "toothpaste"]),
    "store3": pd.Series(data = [1890, 500, 900, 1000, 3500, 1900, 3000], index = ["pad", "toileteries", "milk", "snacks", "perfume", "polish", "cream"]),
}

In [19]:
stores

{'store1': soap              3000
 tomato ketchup    6000
 hypo               200
 indomie            250
 yoghurt            160
 dtype: int64,
 'store2': margarine      500
 roll on       1500
 polish        2000
 milk           800
 hypo           210
 olive oil     4500
 soap          2500
 toothpaste    1000
 dtype: int64,
 'store3': pad            1890
 toileteries     500
 milk            900
 snacks         1000
 perfume        3500
 polish         1900
 cream          3000
 dtype: int64}

In [21]:
df = pd.DataFrame(stores)

In [23]:
df

                store1  store2  store3
cream              NaN     NaN  3000.0
hypo             200.0   210.0     NaN
indomie          250.0     NaN     NaN
margarine          NaN   500.0     NaN
milk               NaN   800.0   900.0
olive oil          NaN  4500.0     NaN
pad                NaN     NaN  1890.0
perfume            NaN     NaN  3500.0
polish             NaN  2000.0  1900.0
roll on            NaN  1500.0     NaN
snacks             NaN     NaN  1000.0
soap            3000.0  2500.0     NaN
toileteries        NaN     NaN   500.0
tomato ketchup  6000.0     NaN     NaN
toothpaste         NaN  1000.0     NaN
yoghurt          160.0     NaN     NaN